### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


### ???
bin/*

# how does these get created?!?  gradle?  what do they do
.project
.classpath
.settings/

### eclipse
.apt_generated/

### IntelliJ IDEA
.idea/

### Project stuff
book_club_backup.csv

### my stuff ###
*.bak*
bak/
*.gz
*.tgz
myREADME
testdir/*
upload-dir/*
.~*
docker/*
Dockerfile

src/main/resources/static/images/empty_bookcase.jpg
src/main/resources/static/images/empty_bookcase_2.jpg
src/main/resources/templates/empty_bookcase_2.jpg
    
run.sh
docker-compose.yml
wait-for-it.sh
