<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Books</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>List of books</h2>

        <table>
            <tr>
                <th>Author</th>
                <th>Title</th>
            </tr>
            
            <tr th:each="book : ${books}">
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.title}">Title</td>
            </tr>
        </table>

    </body>
</html>