<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link th:href="@{/css/showTable.css}" href="/css/showTable.css" rel="stylesheet" />
    <style>

    </style>

</head>

<body>
    <table id="example" border="1">

        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>Series Name</th>
                <th>Series Number</th>
                <th>Read</th>
                <th>Tags</th>
                <th>Updated</th>
                <th>Type</th>
                <!--<th>Cover</th>
                <th>Path</th>-->

            </tr>
        </thead>

        <tbody>
            <tr th:each="book : ${books}">
                <td style="display:none;" th:text="${book.id}">ID</td>
                <td th:text="${book.author}"> Author </td>
                <td th:text="${book.title}"> Book Title </td>
                <td th:text="${book.seriesName}"> Series Name</td>

                <!-- this section looks to make Firefox filter out all rows, works in Chrome-->
                <td>
                    <th:block th:if="${book.seriesName} != ''">
                        <!-- format so that 1.0 -> 1, .5 -> 0.5, 0 -> "" -->
                        <th:block th:with="result=${book.seriesNumber}  % 1 == 0 ? ${#numbers.formatDecimal(book.seriesNumber, 0, 0)} : ${book.seriesNumber}">
                            <span th:text="${result}"> Series Number </span>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${book.seriesName} != ''"></th:block>
                </td>

                <td> <input type="checkbox" name="read" th:checked="${book.read}" /> </td>

                <td th:text="${#strings.setJoin(book.getTags().![value], ',')}" />

                <td th:text="${#dates.format(book.updated, 'MM-dd-yyyy')}"></td>
                <!--<td th:text="${#temporals.format(book.updated, 'MM-dd-yyyy')}">Updated</td>-->

                <td th:text="${book.bookType}">Type</td>


                <!-- <td th:text="${book.cover}"> Cover </td>
                <td th:text="${book.path}"> Path </td>-->
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th style="display:none;">ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>Series Name</th>
                <th>Series Number</th>
                <th>Read</th>
                <th>Tags</th>
                <th>Updated</th>
                <th>Type</th>
                <!-- <th>Cover</th>
                <th>Path</th>-->

            </tr>
        </tfoot>
    </table>

    <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div>

            <div class="switch-toggle switch-3 switch-candy">
                <input id="read" name="readToggle" type="radio" value=true checked="" />
                <label for="read" onclick="readState=true">Read</label>

                <input id="na" name="readToggle" type="radio" value=null checked="checked" />
                <label for="na" class="disabled" onclick="readState=null">N/A</label>

                <input id="unread" name="readToggle" value=false type="radio" />
                <label for="unread" onclick="readState=false">Unread</label>
            </div>
            <br></br>

            <label for="addTag">Add Tag:</label>
            <input type="text" id="addTag" name="addTag"><br><br>
            <label for="delTag">Delete Tag:</label>
            <input type="text" id="delTag" name="delTag"><br><br>

            <input type="submit" value="Submit" onclick="editRows()">

            <div class="popupCloseButton" onclick="$('.hover_bkgr_fricc').hide()">&times;</div>

        </div>
    </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>

    <script>
        var readState = null;

        $(document).ready(function() {

            $.fn.dataTable.moment('M/D/YYYY');

            var table = $('#example').DataTable({

                iDisplayLength: 10,

                select: true,
                stateSave: true,
                dom: 'Bfrtip',
                buttons: ['pageLength', {
                    text: 'Select all',
                    action: function() {
                        table.rows({
                            page: 'current'
                        }).select();
                    }
                }, {
                    text: 'Select none',
                    action: function() {
                        table.rows().deselect();
                    }
                }, {
                    text: 'Edit',
                    action: function(e, dt, node, config) {
                        $('.hover_bkgr_fricc').show()
                    }
                }],

                columnDefs: [{
                    targets: [1],
                    visible: true,
                    searchable: false
                }]
            });
        });

        function editRows() {
            $('.hover_bkgr_fricc').hide();

            console.log(readState)

            //var state = $('#readToggle').val()
            //console.log(state)
            //var state = $(readToggle).val();


            var table = $('#example').DataTable();

            // grab all selected rows
            var data = table.rows({
                selected: true
            }).data();

            // create list of ids to send to controller
            var ids = [];
            for (var i = 0; i < data.length; i++) {
                console.log("ID: " + data[i][0]);
                ids.push(data[i][0]);
            }

            // grab add tags
            var addTags = document.getElementById('addTag');
            var delTags = document.getElementById('delTag');

            console.log(addTags.value)
            console.log(delTags.value)


            var myJSON = JSON.stringify({
                ids: ids,
                read: readState,
                addTags: addTags.value,
                delTags: delTags.value
            });

            $.ajax({
                url: "/updateBooks",
                type: "post",
                data: myJSON,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function(response) {
                    console.log("update success")
                        //table.draw();
                    table.fnDraw();
                },
                error: function(xhr) {
                    //Do Something to handle error
                }
            });
        }

        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each(function() {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            // DataTable
            var table = $('#example').DataTable();

            // Apply the search
            table.columns().every(function() {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function() {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
    </script>

</body>

</html>