<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/grid.css}" href="/css/grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>

<body>
    <p id="text">
        CHANGE ME
    </p>
    <br>
    <div class="grid">
        <tr th:each="book : ${books}">
            <div class="container">
                <img class="card-img" th:src="@{/books/{id}/cover(id=${book.id})}" title="MOUSE OVER TxT" alt=COVER
                     onerror="this.onerror=null; this.src='/images/noimage.png'" >


                <button class="watched" th:onclick="toggleRead([[${book.id}]])">
                    <svg width="25" height="25">
                        <circle cx="12" cy="12" r="10" stroke="green" stroke-width="4" />
                    </svg>
                </button>


                <!--                <form method="POST" th:action="@{/toggleRead}" th:object="${book.id}">
                    <button type="submit" name="submit" value="value" class="link-button">
                        <svg width="25" height="25">
                            <circle id="circ" cx="12" cy="12" r="10" stroke="green" stroke-width="4" />
                        </svg>
                    </button>
                </form>-->

                <a th:href="@{/book/{id}(id=${book.id})}">
                    <p class="card-info" th:text="${book.title}">TITLE</p>
                </a>

                <a th:href="@{/showBooks/author/{author}(author=${book.author})}">
                    <p class="card-info" th:text="${book.author}">AUTHOR</p>
                </a>

                <div th:if="${book.seriesName} != ''">
                    <a th:href="@{/showBooks/series/{seriesName}(seriesName=${book.seriesName})}">
                        <th:block th:with="result=${book.seriesNumber}  % 1 == 0 ? ${#numbers.formatDecimal(book.seriesNumber, 0, 0)} : ${book.seriesNumber}">
                            <p class="card-info" th:text="${book.seriesName} + ' ('
                            + ${result}
                            + ')'">SERIES</p>
                        </th:block>
                    </a>
                </div>

            </div>
        </tr>
    </div>
</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script>
    function toggleRead(id) {
        console.log(id);
        //document.getElementById("text").innerHTML = "Hello World";
        //$.post("/toggleRead/", {firstname: "John"});


        $.ajax({
            type: 'POST',
            url: "toggleRead/" + id,
            success: function(html) {
                console.log('success');
            },
            error: function(exception) {
                alert('Exeption:' + exception);
            }
        });
        //e.preventDefault();
    }
</script>

</html>