<html xmlns:th="https://www.thymeleaf.org">
<body>
<a href="showBooks">Show Books</a>
<br>
<a href="showSeries">Show Series</a>
<br>
<a href="showBookTable">Show Table</a>
<br>

<div>
	<form method="POST" action="/scan">
		<p>Scan: <input type="submit" name="Scan" value=false /></p>
	</form>
</div>
<div>
	<form method="POST" action="/scan" >
		<p>Force Scan: <input type="submit" name="Scan" value=true /></p>
	</form>
</div>

<div>
	<form method="POST" action="/backup">
		<p><input type="submit" value="Backup" /></p>
	</form>
</div>

<div>
	<form method="POST" action="/restore">
		<p><input type="submit" value="Restore" /></p>
	</form>
</div>



	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</body>
</html>